table {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}
td {
    border: 1px solid black;
}

.even {
    background-color: lightblue;
    color: white;
}

.odd {
    background-color: lightcoral;
    color: white;
} 