<!-- <p>rooms-list works!</p>
<h1>Rooms List</h1>
<h2>{{ title }}</h2> -->
<div>
    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>Even/Odd</th>
                <th>Room Number</th>
                <th>Room Type</th>
                <th>Amenities</th>
                <th>Price</th>
                <th>Photos</th>
                <th>Checkin Time</th>
                <th>Checkout Time</th>
                <th>Rating</th>
                <th>Select Room</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms | filter: price; let e = even; let o = odd; let i = index"
                [ngClass]="e ? 'even' : 'odd'">
            <td>{{ i }}</td>
            <td>{{ e ? "Even" : "Odd" }}</td>
            <td>{{ room.roomNumber }}</td>
            <td>{{ room.roomType | uppercase }}</td>
            <td>{{ room.amenities | titlecase }}</td>
            <td>{{ room.price | currency:'INR'}}</td>
            <td>{{ room.photos }}</td>
            <td>{{ room.checkinTime | date }}</td>
            <td>{{ room.checkoutTime | date : 'dd/MM/yyyy' }}</td>
            <td>{{ room.rating | number : '1.1-2' }}</td>
            <td>
                <!-- <button class="btn btn-primary" (click)="selectRoom(room)">Select</button> -->
                <button class="btn btn-primary" [routerLink]="['/booking', room.roomNumber]">Book Room</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>